body{
    margin: 0;
    height: 100vh;
    background: url(../list.jpeg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: popins,sans-serif;
}


.container{
    
   width: 280px;
   height: 50px;
    padding: 20px;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    border-radius: 8px;
}

input{
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    line-height: 1.4;
    height: 30px;
}

button{
    border: none;
    color: #fff;
    padding: 0 13px;
    height: 30px;
    cursor: pointer;
    transition: 1s;
    margin-left: 12px;
    background-color:  #c2e9fb;
}
.add-btn{
    font-size: 20px;
}

.add-btn:hover{
  background-color: #fddb92;
}

/* js css */

.task{
    width: 400px;
    height: 30px;
    padding: 8px;
    background: linear-gradient(90deg, #fbc2eb, #a6c1ee);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.task li{
    list-style: none;
    width: 300px;
    margin-left: 6px;
}

.check{
   color: orange;
   background-color: #fff;
    padding:  0 8px;
}
.check:hover{
   background-color: orange;
   color: #fff;
}

.edit{
   background-color: #fff;
    color: yellowgreen;
     padding:  0 8px;
}

.edit:hover{
    background-color: yellowgreen;
    color: #fff;
}

.delete{
    color: red;
    background-color: #fff;
    padding:  0 8px;
}

.delete:hover{
    color: #fff;
    background-color: red;
}